#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  background: #56351e;
  width: 15rem;
  padding-bottom: 12px;
  overflow: hidden;
  /* padding: 1rem; */
}

.card img {
  width: 80%;
}

@media screen and (min-width: 816px) {
  .card img {
    width: 100%;
  }
}
